section.breacrumb-wrap
	.breadcrumb-bg
		img(src="img/breadcrumb/about.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Lĩnh vực hoạt động
				li
					a(href="#!")
						span Nhà lông F
section.service-section
	.container
		h1.cate-title Nhà lồng F: Ngành hàng thủy sản
		.row
			.col-12.col-lg-7
				.cate-slide
				.cate-nav
			.col-12.col-lg-5
				.cate-info
					table
						tr
							th Tổng diện tích:
							td 20.000 m<sup>2</sup>